/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo y fuente general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Título Principal */
h1 {
    font-size: 36px;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Subtítulos */
h2 {
    font-size: 28px;
    color: #2980b9;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Párrafos */
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Imagen */
img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/* Enlaces de Redes Sociales */
a {
    text-decoration: none;
    color: #2980b9;
    font-size: 18px;
}

a:hover {
    color: #1abc9c;
}

/* Listas */
ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

ol {
    margin-left: 40px;
    margin-bottom: 20px;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #2980b9;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    text-align: left;
}

/* Formulario de contacto */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #1abc9c;
}
